<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	    <!--easyui相关-->
		<link rel="stylesheet" type="text/css" href="../../../../css/theme/gray/easyui.css">
		<link rel="stylesheet" type="text/css" href="../../../../css/theme/icon.css">
		<link rel="stylesheet" type="text/css" href="../../../../css/default.css">
		<script type="text/javascript" src="../../../../js/common/jquery.min.js"></script>
		<script type="text/javascript" src="../../../../js/common/jquery.easyui.min.js"></script>
		<script type="text/javascript" src="../../../../js/common/sampledata.js"></script>
		<script type="text/javascript" src="../../../../js/common/common.js"></script>
		<script type="text/javascript" src="../../../../js/locale/easyui-lang-zh_CN.js"></script>
 		<title></title>
	</head>
	<body>
	</body>
</html>
