<!DOCTYPE HTML>
<html>
<head>
<title>Simple Login Form</title>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="../../css/css-login/reset.css">
<link rel="stylesheet" type="text/css" href="../../css/css-login/structure.css">
</head>
<form class="box login">
	<fieldset class="boxBody">
	  <label>用户名</label>
	  <input type="text" tabindex="1" placeholder="PremiumPixel" required>
	  <label><a href="#" class="rLink" tabindex="5">忘记密码?</a>密码</label>
	  <input type="password" tabindex="2" required>
	</fieldset>
	<footer>
	  <label><input type="checkbox" tabindex="3">记住我</label>
	  <input type="submit" class="btnLogin" value="Login" tabindex="4">
	</footer>
</form>
<footer id="main">
  <a href="www.baidu.com">  </a> | <a href="www.baidu.com">SimpleAdmin1.0 |</a>
</footer>
 
</html>
